* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
body {
  font-family: "Roboto", sans-serif;
}
:root {
  --white: #ffffff;
  --black: #000000;
  --p-place-holder-font-size: #00000080;
  --blue: #dbdbdb;
  --bg: #b1b5bb;
  --bgs: #2d8dd5;
  --h1-size: 40px;
  --h2-size: 40px;
  --p-font-size: 16px;
}
.container {
  padding: 0 15px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.d-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.section-title-h1 {
  padding: 20px 0;
  font-size: var(--h1-size);
  font-weight: 700;
  line-height: 48px;
  color: var(--white);
}
.section-title-h2 {
  padding: 40px 0;
  font-size: var(--h2-size);
  font-weight: 700;
  line-height: 48px;
  color: var(--black);
  text-align: center;
}
.section-title-h3 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.hero {
  background-image: url(../images/hero-2.webp);
}
.hero .container {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 46px;
}
.hero .container p {
  font-size: var(--p-font-size);
  font-weight: 400;
  color: var(--white);
}
.hero .container input {
  width: 300px;
  padding: 10px;
  margin: 10px;
  border: none;
  outline: none;
  border-radius: 6px;
}
.hero .container input::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: var(--p-place-holder-font-size);
}
.hero .container a {
  display: block;
  width: fit-content;
  margin-top: 20px;
  padding: 0 70px;
  border-radius: 6px;
  color: var(--white);
  background-color: var(--black);
}
.col .container {
  gap: 50px;
}
.col .container .card img {
  width: 100%;
}
.col .container .card:last-child {
  flex-basis: 100%;
}
.col .container .card h3 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.col .container .card p {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
}
.courses-detalis .container {
  gap: 30px;
}
.courses-detalis .container .Contact-course {
  width: 550px;
  padding: 10px;
  justify-content: flex-start;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.116);
}
.courses-detalis .container .Contact-course .img {
  width: 100%;
}
.courses-detalis .container .Contact-course .info h3 {
  padding: 5px 0;
  font-size: 20px;
  font-weight: 500;
}
.courses-detalis .container .Contact-course .info p {
  font-size: 16px;
  font-weight: 300;
  color: var(--black);
}
.courses-detalis .container .Contact-course:last-child {
  flex-basis: 100%;
}
