* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
body{
  font-family: "Roboto", sans-serif;
}
:root {
  --white: #ffffff;
  --black: #000000;
  --gry: #00000080;
  --blue: #dbdbdb;
  --bg: #b1b5bb;
  --bgs: #2d8dd5;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.hero {
  background-image: url(../images/hero.webp);
  background-size: cover;
  background-position: center center;
  height: 100vh;
}
.hero .container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-bottom: 50px;
}

.hero h1 {
  font-size: 45px;
  font-weight: 500;
}
.hero div {
  display: flex;
  gap: 40px;
}
.hero div a {
  display: block;
  padding: 20px 30px;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  color: var(--black);
  background-color: var(--white);
  border-radius: 50px;
}

.banner {
  margin: 70px 0;
}
.banner .container img {
  width: 100%;
  background-color: #2d8dd5;
  box-shadow: -1px 14px 31px 0 #0000001a, -2px 56px 56px 0 #00000017;
}
.feauturs .container {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  text-align: center;
  align-items: center;
}
.feauturs .container .feautur {
  padding: 40px 22px;
  margin-top: 15px;
  background-color: var(--blue);
  border-radius: 50px;
  box-shadow: -1px 14px 31px 0 #0000001a, -2px 56px 56px 0 #00000017;
}
.feauturs .container .feautur h2 {
  padding: 20px 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  color: var(--black);
}
.feauturs .container .feautur p {
  padding-bottom: 15px;
  font-weight: 500;
  font-size: 15px;
  line-height: 36px;
  color: var(--black);
}
.our-learners {
  margin: 100px 0;
}
.our-learners h3 {
  text-align: center;
  font-weight: 400;
  font-size: 48px;
  line-height: 72px;
}
.icons img {
  width: 200px;
}
.our-learners .icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 40px;
}
.footer .container {
  margin: 100px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
}
.footer .container .footer-nav {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 3;
  gap: 40px;
}
.footer .container .footer-nav.footer-nav-links h3 {
  /* padding-top: 100px; */
  font-weight: 700;
  font-size: 18;
  line-height: 21px;
  color: var(--black);
}
.footer-nav-links ul li a {
  /* padding-top: 80px; */
  font-weight: 400;
  font-size: 14 px;
  line-height: 16px;
  color: var(--black);
}
.Subscribe {
  flex-grow: 1;
}
.Subscribe h4 {
  font-weight: 700;
  font-size: 16;
  line-height: 18px;
  color: var(--black);
}
.Subscribe p {
  padding: 15px 0;
  font-weight: 700;
  font-size: 16;
  line-height: 18px;
  color: var(--black);
}
.Subscribe .email {
  padding: 10px 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  border: none;
  outline: none;
  color: var(--bg);
  background-color: #e5e7eb;
}
.Subscribe .submit {
  padding: 10px;
  margin-left: 20px;
  border: none;
  outline: none;
  background-color: var(--bgs);
  color: var(--white);
  border-radius: 30px;
}

.copy-right .container {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  color: var(--black);
}
.copy-right .container p {
  font-weight: 300;
  font-size: 12px;
  line-height: 14.6px;
}
